{{#if updateQuestionForm}}
  <br>
  <form>
    <div class="form-group">
      <div class="row">
        <div class="col-sm-2"><label for="title">Question</label></div>
        <div class="col-sm-2">{{textarea value=title id="title" placeholder=question.title}}</div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2"><label for="author">Author</label></div>
        <div class="col-sm-2">{{textarea value=author id="author" placeholder=question.author}}</div>
      </div>
    </div>

    <div class="form-group">
      <div class="row">
        <div class="col-sm-2"><label for="note">Notes</label></div>
        <div class="col-sm-2">{{textarea value=note id="note" placeholder=question.note}}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-1 col-sm-offset-2">
          <button {{action 'updateQuestion' question}}>Update</button>
      </div>
      <button {{action 'cancelUpdate'}}>Cancel</button>
      <div class="col-sm-2">
      </div>
    </div>
  </form>
{{else}}
  <a href="#" {{action 'showUpdateQuestionForm'}}>Update question</a>
{{/if}}
