<div class="well">
  <h3>{{model.title}}</h3>
  <h6>Asked by {{model.author}}</h6>
  <br>
  <h5>Additional notes:</h5>
  {{model.note}}
</div>

{{#each model.answers as |answer|}}
  {{answer.content}}
  {{answer.author}}
{{/each}}
{{answer-add saveAnswer="saveAnswer" question=model}}


<br>
{{question-update question=model updateQuestion="updateQuestion"}}
<br>
<button {{action 'deleteQuestion' model}}>Delete question</button>
