<div class="well">
  <h3>{{model.title}}</h3>
  <h6>Asked by {{model.author}}</h6>
  <br>
  <h5>Additional notes:</h5>
  {{model.note}}
  <br>
  <br>
  {{#if session.isAuthenticated}}
  <div class="btn-group">
    <a href="/"{{action 'deleteQuestion' model}}>Delete question</a>
    {{question-update question=model updateQuestion="updateQuestion"}}
  </div>
  <br>
  <br>
  <div class="star-rating">
    Add to favorites <span {{action 'addToFavorite' question}} class="fa fa-star-o" data-rating="1"></span>
  </div>
  {{else}}
    {{#link-to 'sign-in'}}Sign-in{{/link-to}} to view additional options.
  {{/if}}
</div>

{{#each model.answers as |answer|}}
  <h5>Answered by: {{answer.author}}</h5>
  {{answer.content}}
  <br>
  {{#if session.isAuthenticated}}
    <a href="#" {{action 'deleteAnswer' answer}}>Delete answer</a>
  {{/if}}
  <br>
  <hr>
{{/each}}
<br>

{{answer-add saveAnswer="saveAnswer" question=model}}
<br>
<br>
