<div class='page-header'>
    <h1>Sign In</h1>
</div>
{{input
    type='text'
    class='form-control'
    value=email
    placeholder='email'
}}
<br>
{{input
    type='password'
    class='form-control'
    value=password
    placeholder='password'
}}
{{#if session.isWorking}}
    <button class='btn btn-default' disabled='disabled'>
        {{fa-icon 'spinner' spin=true}} Signing in...
    </button>
{{else}}
    <br>
    <button class='btn btn-default' {{action 'signIn' 'password'}}>
      {{fa-icon 'sign-in'}} Sign In
    </button>
{{/if}}
<br>
<br>
Don't have an account? {{#link-to 'sign-up'}}Register{{/link-to}} for free!
